{% extends 'TracktusAppBundle::layout.html.twig' %}

{% block style %}
	{{ parent() }} 
	<link rel="stylesheet" type="text/css" href="{{asset('/css/developper.css')}}" />
{% endlbock %}

{% block content %}
    
	
	<article class="accordion">  
	    <section id="acc1">  
	        <h2><a href="#acc1"> Projet A (crée le: {{ date('d/m/Y') }}) </a>
	        </h2> 
	        
	        Projet Test n°
	        
	        
	        <table summary="">
				 <caption>Nombre de jours imputés<caption>
				 <tr>
				  <th></th>
				  <th>Charge initiale</th>
				  <th>Av</th>
				  <th>Ancien reste à faire</th>
				  <th>Cette semaine</th>
				   <th>RAF</th>
				 </tr>
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				<tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				   <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				   <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				 <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				   <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
			</table>
	 
	    </section>  
	    
	    
	    <section id="acc2"> 
	     <h2><a href="#acc2"> Projet A (crée le: <?php echo date("d/m/y")?>) </a>
	        </h2> 
	        
	        Projet Test n°
	        
	        
	        <table summary="">
				 <caption>Nombre de jours imputés<caption>
				 <tr>
				  <th></th>
				  <th>Charge initiale</th>
				  <th>Av</th>
				  <th>Ancien reste à faire</th>
				  <th>Cette semaine</th>
				   <th>RAF</th>
				 </tr>
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>>

				 </tr>
				 
				<tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				   <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				   <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
			</table>

	        
	    </section>  
	    
	    <section id="acc3">  
	       <h2><a href="#acc3">  Projet A (crée le: {{ date('d/m/Y') }})  </a>
	        </h2> 
	        
	        Projet Test n°
	        
	        
	        <table summary="">
				 <caption>Nombre de jours imputés<caption>
				 <tr>
				  <th></th>
				  <th>Charge initiale</th>
				  <th>Av</th>
				  <th>Ancien reste à faire</th>
				  <th>Cette semaine</th>
				   <th>RAF</th>
				 </tr>
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				<tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				   <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
			</table>

	    </section>  
	    
	    <section id="acc4">  
	    
	       <h2><a href="#acc4"> Projet A (crée le: {{ date('d/m/Y') }})  </a>
	        </h2> 
	        
	        Projet Test n°
	        
	        
	        <table summary="">
				 <caption>Nombre de jours imputés<caption>
				 <tr>
				  <th></th>
				  <th>Charge initiale</th>
				  <th>Av</th>
				  <th>Ancien reste à faire</th>
				  <th>Cette semaine</th>
				   <th>RAF</th>
				 </tr>
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				<tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>

				 </tr>
				 
				 <tr>
				  <td>Tache</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td><form action="" method="post"><input type="text" name="tache" value="inserer"/></form></td>
				  <td>
				  		<form action="" method="post"><input type="text" name="tache" value="inserer"/></form>
				  </td>

				 </tr>
				 
			</table>

	        
	    </section>
	    
	    
	</article>  
</section>



    
{% endblock %}